<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{global.baseUrl}">
    <title> {head.title} | {global.appName} </title>
    <meta name="description" content="{head.desciption}">
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="public/app.css">
</head>
<body class="{body.class}">
    <div class="wrapper">
        <div class="header">
            <a href="logo" href="/"></a>
            <ul class="menu">
                <li><a href="/"></a>Home</li>
                <li><a class="loggedOut" href="/"></a>Sigup</li>
                <li><a class="loggedOut" href="/"></a>Login</li>
                <li><a class="loggedIn" href="/"></a>Dashboard</li>
                <li><a class="loggedIn" href="/"></a>Account Settings</li>
                <li><a class="loggedIn" href="/"></a>Logout</li>
            </ul>
        </div>
        <div class="content">