<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{global.baseUrl}">
    <title> {head.title} | {global.appName} </title>
    <meta name="description" content="{head.desciption}">
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="public/app.css">
</head>
<body class="{body.class}">
    <div class="wrapper">
        <div class="header">
            <a href="logo" href="/">
                <img style="width: 3rem; padding-left: 1rem;" src="public/logo.png" alt="Logo"/>
            </a>
            <ul class="menu">
                <li><a href="/"></a>Home</li>
                <li><a class="loggedOut" href="/account/create"></a>Sigup</li>
                <li><a class="loggedOut" href="/session/create"></a>Login</li>
                <li><a class="loggedIn" href="/checks/all"></a>Dashboard</li>
                <li><a class="loggedIn" href="/account/edit"></a>Account Settings</li>
                <li><a class="loggedIn" href="#"></a>Logout</li>
            </ul>
        </div>
        <div class="content"> 