<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">Maritime Montering is Europe’s trusted & preferred supplier of ship interior for marine and offshore Ship Accommodation projects. We provide marine interior outfitting, both full turnkey as well tailor-made Scope of work, to achieve the best possible solution and to meet customer needs.</div>
<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>